/*--------------------BORDER-BOX-------------------*/
* {
	box-sizing: border-box;
}
/*--------------------BORDER-BOX-------------------*/


/*--------------------BODY----------------------*/
#body1 {
	background-attachment: fixed;
	background-color: black;
	background-image: url(../img/fondos/fondo1.jpeg);
}
/*--------------------BODY----------------------*/


/*--------------------HEADER----------------------*/

header {
	margin-bottom: 5rem;
}

header h1 {
	text-align: center;
	font-size: 9.5rem;
	color: red;
	vertical-align: top;
	margin-bottom: 2rem;
}

#mainh1 {
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	background-size: 724px 184px;
  	background-repeat: no-repeat;
  	padding-top: 1.5rem;
  	padding-top: 2rem;
}

header ul, header ul a {
	list-style: none;
	text-align: center;
	text-decoration: none;
	margin-right: 20px;
}

#inicio {
	font-size: 5rem;
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

#inicio a:link {
	color: darkred;
	background-size: 312px 80px;
	background-repeat: no-repeat;
}

#inicio a:visited {
	color: darkred;
}

#inicio a:hover {
	color: red;
}

#inicio a:active {
	color: darkred;
}
/*--------------------HEADER----------------------*/


/*--------------------NAV----------------------*/

#nav1 ul {
	display: flex;
	list-style: none;
	justify-content: center;
}

/*
#scroll {
	width: 400px;
	height: 160px;
	overflow-y: auto;
}*/

.mainLi a {
	font-size: 4.1rem;
	text-decoration: none;
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

.mainLi a {
	text-decoration: none;
}

.mainLi {
	padding: 4px;
}

.mainLi a:link {
	color: darkred;
}

.mainLi a:hover {
	color: red;
}

.mainLi a:visited {
	color: darkred;
}

.mainLi a:active {
	color: darkred;
}

#nav2 ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
}
/*--------------------NAV----------------------*/

/*-------------------MAIN----------------------*/

main {
	color: red;
	font-family: "Press Start 2P", system-ui;
	font-size: 1.2rem;
  	font-style: normal;
	display: flex;
	justify-content: center;
}

#info-nos {
	width: 33%;
	text-align: center;
	line-height: 1.3;
	border: 3px solid red;
}