/*--------------------BORDER-BOX-------------------*/
* {
	box-sizing: border-box;
}
/*--------------------BORDER-BOX-------------------*/


/*--------------------BODY----------------------*/
#body1 {
	background-attachment: fixed;
	background-color: black;
	background-image: url(../img/fondos/fondo1.jpeg);
}
/*--------------------BODY----------------------*/


/*--------------------HEADER----------------------*/

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header h1 {
	text-align: center;
	font-size: 9rem;
	color: red;
	vertical-align: top;
	margin-bottom: 0;
}

#mainh1 {
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	background-size: 724px 184px;
  	background-repeat: no-repeat;
}

header ul, header ul a {
	list-style: none;
	text-align: center;
	text-decoration: none;
}

#inicio {
	font-size: 6rem;
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

#inicio a:link {
	color: darkred;
	background-size: 312px 80px;
	background-repeat: no-repeat;
}

#inicio a:visited {
	color: darkred;
}

#inicio a:hover {
	color: red;
}

#inicio a:active {
	color: darkred;
}
/*--------------------HEADER----------------------*/


/*--------------------NAV----------------------*/

#nav1 ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 4.5rem;
	list-style: none;
}

.mainLi a {
	font-size: 4rem;
	text-decoration: none;
	font-family: "Jacquard 12", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

.mainLi a {
	text-decoration: none;
}

.mainLi {
	padding: 10px;
	border: 3px solid red;
	background-color: black;
}

.mainLi a:link {
	color: darkred;
}

.mainLi a:hover {
	color: red;
}

.mainLi a:visited {
	color: darkred;
}

.mainLi a:active {
	color: darkred;
}

#nav2 ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#ul2 {
	font-size: 3rem;
}

#nav2 #mainLi span {
	background-color: black;

}
/*--------------------NAV----------------------*/

/*INDEX*/
/*-------------------MAIN----------------------*/

main {
	color: red;
	font-family: "Press Start 2P", system-ui;
	font-size: 1.2rem;
  	font-style: normal;
	display: flex;
	justify-content: center;
}

#info-nos {
	width: 33%;
	text-align: center;
	line-height: 1.3;
	border: 3px solid red;
}

/*-------------------MAIN----------------------*/
/*INDEX*/

/*JUEGO1*/
/*-------------------MAIN----------------------*/

#form1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
}

#form1 label {
	text-decoration: 3px solid red underline;
}

#form1 button {
	align-self: center;
	color: darkred;
	font-family: "Press Start 2P", system-ui;
	font-size: 1.2rem;
	padding: 10px;
	background-color: black;
	border: 2px solid red;
}

#form1 button:active {
	color: red;
}

#definirCant {
	text-decoration: 3px solid darkred underline;
}

#definirCant:active {
	text-decoration: 3px solid red underline;
}

#form1 label {
	font-size: 1.4rem;
}
/*-------------------MAIN----------------------*/
/*JUEGO1*/

/*JUEGO2*/
/*-------------------MAIN----------------------*/
#main-juego2 {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
#dados {
	background-color: black;
	border: 3px solid crimson;
	width: 50%;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

aside {
	background-color: black;
	border: 3px solid crimson;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-align: center;
}

aside h2 {
	color: crimson;
}

#dados img {
	height: 200px;
	width: 200px;
	border: 3px solid crimson;
}

#img-dado1 {
	margin-left: 20px;
}

#puntos-sangrientos {
	padding: 50px;
	border: 3px solid crimson;
	margin-top: 0;
	color: crimson;
	font-size: 2rem;
	background-color: #47415d;
}

#tirardados {
	border: 3px solid crimson;
	padding: 15px;
	font-family: "Press Start 2P", system-ui;
	margin-right: 20px;
	color: crimson;
	background-color: #47415d;
}

#plantarse, #reiniciar {
	border: 3px solid crimson;
	padding: 15px;
	font-family: "Press Start 2P", system-ui;
	color: crimson;
	margin-bottom: 25px;
	background-color: #47415d;
}

#article-dados {
	width: 90%;
	background-color: black;
	border: 3px solid red;
	text-align: justify;
}

#article-dados p {
	padding: 10px;
	line-height: 1.3;
}

#article-dados p span {
	text-decoration: 3px solid red underline;
}
/*-------------------MAIN----------------------*/
/*JUEGO2*/
